/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/sharedPlatform.css");

#tabs-toolbar {
  --tab-height: 26px;
  --tab-side-padding: 3px;
  box-shadow: inset 0 -1px 0 0 #33FF33;
}

/* == Tab style ============================================= */
/* Unselected tab */
.tabmail-tab {
  -moz-appearance: none;
  -moz-box-align: stretch;
  background-color: #000000;
  margin: 2px 0 2px 0;
  padding: 0;
  border: 1px solid #33FF33;
  border-bottom-style: none;
  height: var(--tab-height);
}

/* Selected tab */
.tabmail-tab[selected=true] {
  background-color: rgba(0, 255, 0, 0.3);
  font-weight: bold;
}

.tab-content {
  padding-inline-start: var(--tab-side-padding);
  padding-inline-end: var(--tab-side-padding);
}

.tab-throbber,
.tab-icon-image {
  height: 16px;
  width: 16px;
}

.tab-throbber,
.tab-icon-image {
  margin-inline-end: 6px;
}

.tab-label {
  margin-inline-end: 0;
  margin-inline-start: 0;
}

.tab-close-button {
  margin-inline-start: 4px;
  margin-inline-end: -2px;
  padding: 0;
}

.tabmail-tab:-moz-lwtheme {
  color: inherit;
}

/* Tab Overflow */
.tabmail-arrowscrollbox > .arrowscrollbox-overflow-start-indicator,
.tabmail-arrowscrollbox > .arrowscrollbox-overflow-end-indicator {
  display: none;
}

/* Content Tabs */
.contentTabToolbox {
  height: 0px;
}

.contentTabInstance[disablechrome] .contentTabToolbox {
  display: none;
}

.contentTabToolbar {
  height: 0px;
  min-height: 0px;
  padding: 0px;
}
